.productsPage{
    height: 100%;

    .productsPageInner{
        height: 100%;
        
        .productsPage_title{
            text-align: center;

            & > h1{
                color: #7e1181;
                text-transform: uppercase;
            }

            & > a{
                color: #7e1181;
                text-decoration: underline;
            }

        }


        .info{
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .createNewProduct_form{
            flex-direction: column;
            display: flex;
            gap: 20px;

            & > h2{
                color: #7e1181;
            }

            & > input{
                height: 30px;
                width: 300px;
                padding-left: 5px;
                color: #7e1181;
            }

            & > textarea{
                height: 100px;
                width: 300px;
                padding: 5px 0px 0px 5px;
                color: #7e1181;
            }

            .create_product{
                background-color: #ffff0000;
                color: #7e1181;
                border: 2px #7e1181 solid;
                border-radius: 5px;
                padding: 5px 0px;
                cursor: pointer;
            }
        }

        .products_list{
            margin-left: 40px;
            height: 296px;
            width: 100%;

            & > h2{
                text-align: center;
                color: #7e1181;
            }
        }


    }

}