.ProductInfoPage{
    height: 100%;
    .ProductInfoPageInner{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .productCard{
            flex-direction: column;
            display: flex;
            gap: 20px;

            & > button{
                padding: 10px 5px;
                background-color: #ffff0000;
                border: 2px #7e1181 solid;
                border-radius: 5px;
                color: #7e1181;
                cursor: pointer;
            }

            & > textarea{
                color: #7e1181;
                padding-left: 5px;
                height: 100px;
            }

            & > input{
                color: #7e1181;
                padding-left: 5px;
                height: 25px;
            }
        }
    }
}